html,
body,
main,
.tall {
  height: 100%;
}

#map {
  height: 100%;
}

header {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

.section {
  padding: 0;
}

.list {
  overflow: auto;
}

.list > li {
  color: #039be5;
  cursor: pointer;
  text-decoration: underline;
}

.list > li:hover {
  color: #66bb6a;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #66bb6a;
}
