html,
body,
main,
.tall {
  height: 100%;
  margin: 0;
  padding: 0;
  max-height: 500px;
}

#map {
  height: 100%;
}

header {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

.section {
  padding: 0;
}

.list {
  overflow: auto;
}
